@import '../components/SampleEntry.css';
@import '../components/ReportHandling.css';
@import '../components/ReportAnalyser.css';

.main-content {
  flex: 1;
  padding: 3rem;
  display: flex;
  align-items: stretch;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.divisions {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 1rem;
  max-width: 1400px;
  margin: 0 auto;
  align-items: stretch;
}

.division {
  display: flex;
  flex-direction: column;
  min-height: 280px;
}
